@charset "UTF-8";
.ishow-input__inner,
.ishow-textarea__inner {
    background-image: none;
    box-sizing: border-box
}

.ishow-input,
.ishow-input__inner {
    width: 100%;
    display: inline-block
}

.ishow-pagination:after,
.ishow-pagination:before {
    display: table;
    content: ""
}

.ishow-pagination:after {
    clear: both
}

.ishow-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #d1dbe5;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.ishow-select-dropdown .ishow-scrollbar.is-empty .ishow-select-dropdown__list {
    padding: 0
}

.ishow-select-dropdown.is-multiple .ishow-select-dropdown__item.selected {
    color: #20a0ff;
    background-color: #fff
}

.ishow-select-dropdown.is-multiple .ishow-select-dropdown__item.selected.hover {
    background-color: #e4e8f1
}

.ishow-select-dropdown.is-multiple .ishow-select-dropdown__item.selected::after {
    position: absolute;
    right: 10px;
    font-family: element-icons;
    content: "\E608";
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ishow-select-dropdown__empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px
}

.ishow-select-dropdown__wrap {
    max-height: 274px
}

.ishow-select-dropdown__list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box
}

.ishow-input {
    position: relative;
    font-size: 14px
}

.ishow-input.is-disabled .ishow-input__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed
}

.ishow-input.is-disabled .ishow-input__inner::-webkit-input-placeholder {
    color: #bfcbd9
}

.ishow-input.is-disabled .ishow-input__inner::-moz-placeholder {
    color: #bfcbd9
}

.ishow-input.is-disabled .ishow-input__inner:-ms-input-placeholder {
    color: #bfcbd9
}

.ishow-input.is-disabled .ishow-input__inner::placeholder {
    color: #bfcbd9
}

.ishow-input.is-active .ishow-input__inner {
    outline: 0;
    border-color: #20a0ff
}

.ishow-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.ishow-input__inner::-webkit-input-placeholder {
    color: #97a8be
}

.ishow-input__inner::-moz-placeholder {
    color: #97a8be
}

.ishow-input__inner:-ms-input-placeholder {
    color: #97a8be
}

.ishow-input__inner::placeholder {
    color: #97a8be
}

.ishow-input__inner:hover {
    border-color: #8391a5
}

.ishow-input__inner:focus {
    outline: 0;
    border-color: #20a0ff
}

.ishow-input__icon {
    position: absolute;
    width: 35px;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
    color: #bfcbd9;
    transition: all .3s
}

.ishow-input__icon:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle
}

.ishow-input__icon+.ishow-input__inner {
    padding-right: 35px
}

.ishow-input__icon.is-clickable:hover {
    cursor: pointer;
    color: #8391a5
}

.ishow-input__icon.is-clickable:hover+.ishow-input__inner {
    border-color: #8391a5
}

.ishow-input--large {
    font-size: 16px
}

.ishow-input--large .ishow-input__inner {
    height: 42px
}

.ishow-input--small {
    font-size: 13px
}

.ishow-input--small .ishow-input__inner {
    height: 30px
}

.ishow-input--mini {
    font-size: 12px
}

.ishow-input--mini .ishow-input__inner {
    height: 22px
}

.ishow-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate
}

.ishow-input-group>.ishow-input__inner {
    vertical-align: middle;
    display: table-cell
}

.ishow-input-group__append,
.ishow-input-group__prepend {
    background-color: #fbfdff;
    color: #97a8be;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    padding: 0 10px;
    width: 1px;
    white-space: nowrap
}

.ishow-input-group--prepend .ishow-input__inner,
.ishow-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.ishow-input-group--append .ishow-input__inner,
.ishow-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.ishow-input-group__append .ishow-button,
.ishow-input-group__append .ishow-select,
.ishow-input-group__prepend .ishow-button,
.ishow-input-group__prepend .ishow-select {
    display: block;
    margin: -10px
}

.ishow-input-group__append button.ishow-button,
.ishow-input-group__append div.ishow-select .ishow-input__inner,
.ishow-input-group__append div.ishow-select:hover .ishow-input__inner,
.ishow-input-group__prepend button.ishow-button,
.ishow-input-group__prepend div.ishow-select .ishow-input__inner,
.ishow-input-group__prepend div.ishow-select:hover .ishow-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0
}

.ishow-input-group__append .ishow-button,
.ishow-input-group__append .ishow-input,
.ishow-input-group__prepend .ishow-button,
.ishow-input-group__prepend .ishow-input {
    font-size: inherit
}

.ishow-input-group__prepend {
    border-right: 0
}

.ishow-input-group__append {
    border-left: 0
}

.ishow-textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom
}

.ishow-textarea.is-disabled .ishow-textarea__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed
}

.ishow-textarea.is-disabled .ishow-textarea__inner::-webkit-input-placeholder {
    color: #bfcbd9
}

.ishow-textarea.is-disabled .ishow-textarea__inner::-moz-placeholder {
    color: #bfcbd9
}

.ishow-textarea.is-disabled .ishow-textarea__inner:-ms-input-placeholder {
    color: #bfcbd9
}

.ishow-textarea.is-disabled .ishow-textarea__inner::placeholder {
    color: #bfcbd9
}

.ishow-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    width: 100%;
    font-size: 14px;
    color: #1f2d3d;
    background-color: #fff;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.ishow-textarea__inner::-webkit-input-placeholder {
    color: #97a8be
}

.ishow-textarea__inner::-moz-placeholder {
    color: #97a8be
}

.ishow-textarea__inner:-ms-input-placeholder {
    color: #97a8be
}

.ishow-textarea__inner::placeholder {
    color: #97a8be
}

.ishow-textarea__inner:hover {
    border-color: #8391a5
}

.ishow-textarea__inner:focus {
    outline: 0;
    border-color: #20a0ff
}

.ishow-tag {
    background-color: #8391a5;
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap
}

.ishow-tag .ishow-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -ms-transform: scale(.75, .75);
    transform: scale(.75, .75);
    height: 18px;
    width: 18px;
    line-height: 18px;
    vertical-align: middle;
    top: -1px;
    right: -2px
}

.ishow-tag .ishow-icon-close:hover {
    background-color: #fff;
    color: #8391a5
}

.ishow-tag--gray {
    background-color: #e4e8f1;
    border-color: #e4e8f1;
    color: #48576a
}

.ishow-tag--gray .ishow-tag__close:hover {
    background-color: #48576a;
    color: #fff
}

.ishow-tag--gray.is-hit {
    border-color: #48576a
}

.ishow-tag--primary {
    background-color: rgba(32, 160, 255, .1);
    border-color: rgba(32, 160, 255, .2);
    color: #20a0ff
}

.ishow-tag--primary .ishow-tag__close:hover {
    background-color: #20a0ff;
    color: #fff
}

.ishow-tag--primary.is-hit {
    border-color: #20a0ff
}

.ishow-tag--success {
    background-color: rgba(18, 206, 102, .1);
    border-color: rgba(18, 206, 102, .2);
    color: #13ce66
}

.ishow-tag--success .ishow-tag__close:hover {
    background-color: #13ce66;
    color: #fff
}

.ishow-tag--success.is-hit {
    border-color: #13ce66
}

.ishow-tag--warning {
    background-color: rgba(247, 186, 41, .1);
    border-color: rgba(247, 186, 41, .2);
    color: #f7ba2a
}

.ishow-tag--warning .ishow-tag__close:hover {
    background-color: #f7ba2a;
    color: #fff
}

.ishow-tag--warning.is-hit {
    border-color: #f7ba2a
}

.ishow-tag--danger {
    background-color: rgba(255, 73, 73, .1);
    border-color: rgba(255, 73, 73, .2);
    color: #ff4949
}

.ishow-tag--danger .ishow-tag__close:hover {
    background-color: #ff4949;
    color: #fff
}

.ishow-tag--danger.is-hit {
    border-color: #ff4949
}

.ishow-select-dropdown__item {
    font-size: 14px;
    padding: 8px 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #48576a;
    height: 36px;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer
}

.ishow-select-dropdown__item.hover,
.ishow-select-dropdown__item:hover {
    background-color: #e4e8f1
}

.ishow-select-dropdown__item.selected {
    color: #fff;
    background-color: #20a0ff
}

.ishow-select-dropdown__item.selected.hover {
    background-color: #1c8de0
}

.ishow-select-dropdown__item span {
    line-height: 1.5!important
}

.ishow-select-dropdown__item.is-disabled {
    color: #bfcbd9;
    cursor: not-allowed
}

.ishow-select-dropdown__item.is-disabled:hover {
    background-color: #fff
}

.ishow-select-group {
    margin: 0;
    padding: 0
}

.ishow-select-group .ishow-select-dropdown__item {
    padding-left: 20px
}

.ishow-select-group__wrap {
    list-style: none;
    margin: 0;
    padding: 0
}

.ishow-select-group__title {
    padding-left: 10px;
    font-size: 12px;
    color: #999;
    height: 30px;
    line-height: 30px
}

.ishow-scrollbar {
    overflow: hidden;
    position: relative
}

.ishow-scrollbar:active .ishow-scrollbar__bar,
.ishow-scrollbar:focus .ishow-scrollbar__bar,
.ishow-scrollbar:hover .ishow-scrollbar__bar {
    opacity: 1;
    transition: opacity 340ms ease-out
}

.ishow-scrollbar__wrap {
    overflow: scroll
}

.ishow-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0
}

.ishow-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(151, 168, 190, .3);
    transition: .3s background-color
}

.ishow-scrollbar__thumb:hover {
    background-color: rgba(151, 168, 190, .5)
}

.ishow-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 120ms ease-out
}

.ishow-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px
}

.ishow-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.ishow-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px
}

.ishow-scrollbar__bar.is-vertical>div {
    width: 100%
}

.ishow-select {
    display: inline-block;
    position: relative
}

.ishow-select:hover .ishow-input__inner {
    border-color: #8391a5
}

.ishow-select .ishow-input__inner {
    cursor: pointer;
    padding-right: 35px
}

.ishow-select .ishow-input__inner:focus {
    border-color: #20a0ff
}

.ishow-select .ishow-input .ishow-input__icon {
    color: #bfcbd9;
    font-size: 12px;
    transition: transform .3s;
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotateZ(180deg);
    line-height: 16px;
    top: 50%;
    cursor: pointer
}

.ishow-select .ishow-input .ishow-input__icon.is-show-close {
    transition: 0s;
    width: 16px;
    height: 16px;
    font-size: 14px;
    right: 8px;
    text-align: center;
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotateZ(180deg);
    border-radius: 100%;
    color: #bfcbd9
}

.ishow-select .ishow-input .ishow-input__icon.is-show-close:hover {
    color: #97a8be
}

.ishow-select .ishow-input .ishow-input__icon.is-reverse {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.ishow-select .ishow-input.is-disabled .ishow-input__inner {
    cursor: not-allowed
}

.ishow-select .ishow-input.is-disabled .ishow-input__inner:hover {
    border-color: #d1dbe5
}

.ishow-select>.ishow-input {
    display: block
}

.ishow-select .ishow-tag__close {
    margin-top: -2px
}

.ishow-select .ishow-tag {
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    margin: 3px 0 3px 6px
}

.ishow-select__input {
    border: none;
    outline: 0;
    padding: 0;
    margin-left: 10px;
    color: #666;
    font-size: 14px;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 28px;
    background-color: transparent
}

.ishow-select__input.is-mini {
    height: 14px
}

.ishow-select__close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: 1000;
    right: 25px;
    color: #bfcbd9;
    line-height: 18px;
    font-size: 12px
}

.ishow-select__close:hover {
    color: #97a8be
}

.ishow-select__tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.ishow-select__tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #20a0ff
}

.ishow-select__tag .ishow-icon-close {
    font-size: 12px
}

.ishow-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #48576a
}

.ishow-pagination button,
.ishow-pagination span {
    display: inline-block;
    font-size: 13px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    box-sizing: border-box
}

.ishow-pagination .ishow-select .ishow-input {
    width: 110px
}

.ishow-pagination .ishow-select .ishow-input input {
    padding-right: 25px;
    border-radius: 2px;
    height: 28px
}

.ishow-pagination button {
    border: none;
    padding: 0 6px;
    background: 0 0
}

.ishow-pagination button:focus {
    outline: 0
}

.ishow-pagination button:hover {
    color: #20a0ff
}

.ishow-pagination button.disabled {
    color: #e4e4e4;
    background-color: #fff;
    cursor: not-allowed
}

.ishow-pager li,
.ishow-pager li.btn-quicknext:hover,
.ishow-pager li.btn-quickprev:hover {
    cursor: pointer
}

.ishow-pagination .btn-next,
.ishow-pagination .btn-prev {
    background: center center no-repeat #fff;
    background-size: 16px;
    border: 1px solid #d1dbe5;
    cursor: pointer;
    margin: 0;
    color: #97a8be
}

.ishow-pagination .btn-next .ishow-icon,
.ishow-pagination .btn-prev .ishow-icon {
    display: block;
    font-size: 12px
}

.ishow-pagination .btn-prev {
    border-radius: 2px 0 0 2px;
    border-right: 0
}

.ishow-pagination .btn-next {
    border-radius: 0 2px 2px 0;
    border-left: 0
}

.ishow-pagination--small .btn-next,
.ishow-pagination--small .btn-prev,
.ishow-pagination--small .ishow-pager li,
.ishow-pagination--small .ishow-pager li:last-child {
    border-color: transparent;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    min-width: 22px
}

.ishow-pagination--small .arrow.disabled {
    visibility: hidden
}

.ishow-pagination--small .ishow-pager li {
    border-radius: 2px
}

.ishow-pagination__sizes {
    margin: 0 10px 0 0
}

.ishow-pagination__sizes .ishow-input .ishow-input__inner {
    font-size: 13px;
    border-color: #d1dbe5
}

.ishow-pagination__sizes .ishow-input .ishow-input__inner:hover {
    border-color: #20a0ff
}

.ishow-pagination__jump {
    margin-left: 10px
}

.ishow-pagination__total {
    margin: 0 10px
}

.ishow-pagination__rightwrapper {
    float: right
}

.ishow-pagination__editor {
    border: 1px solid #d1dbe5;
    border-radius: 2px;
    line-height: 18px;
    padding: 4px 2px;
    width: 30px;
    text-align: center;
    margin: 0 6px;
    box-sizing: border-box;
    transition: border .3s;
    -moz-appearance: textfield
}

.ishow-pager,
.ishow-pager li {
    vertical-align: top;
    display: inline-block;
    margin: 0
}

.ishow-pagination__editor::-webkit-inner-spin-button,
.ishow-pagination__editor::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.ishow-pagination__editor:focus {
    outline: 0;
    border-color: #20a0ff
}

.ishow-pager {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 0;
    padding: 0
}

.ishow-pager li {
    padding: 0 4px;
    border: 1px solid #d1dbe5;
    border-right: 0;
    background: #fff;
    font-size: 13px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center
}

.ishow-pager li:last-child {
    border-right: 1px solid #d1dbe5
}

.ishow-pager li.btn-quicknext,
.ishow-pager li.btn-quickprev {
    line-height: 28px;
    color: #97a8be
}

.ishow-pager li.active+li {
    border-left: 0;
    padding-left: 5px
}

.ishow-pager li:hover {
    color: #20a0ff
}

.ishow-pager li.active {
    border-color: #20a0ff;
    background-color: #20a0ff;
    color: #fff;
    cursor: default
}

;